{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
        <title>My Page</title>
    {% endblock %}
</head>

<body>
    {% block content %}
        <h3>This is where I edit my details</h3>

        <div class="ui segment">
            <p class ="ui big header">Name: {{ item.email }}<br>
            Password: {{ item.password }}<br>
            Description: {{ item.description }}<br>
            Email1: {{ item.email1 }}<br>
            Email2: {{ item.email2 }}<br>
            Email3: {{ item.email3 }}<br>
            Email4: {{ item.email4 }}<br>
            Email5: {{ item.email5 }}<br>

            Profile Image <img src={{ item.link }}>
            </p>
        </div>
    {% endblock %}
</body>
</html>